<!-- <dx-data-grid
  id="gridContainer"
  [dataSource]="dataSource"
  [remoteOperations]="false"
  [allowColumnReordering]="true"
  [rowAlternationEnabled]="true"
  [showBorders]="true"
  (onContentReady)="contentReady($event)"
>
    <dxo-remote-operations
        [filtering]="true"
        [paging]="true"
        [sorting]="true"
        [summary]="true"
        [grouping]="true"
        [groupPaging]="true">
    </dxo-remote-operations>
  <dxo-paging [pageSize]="5"></dxo-paging>
  <dxo-search-panel
    [visible]="true"
    [highlightCaseSensitive]="true"
  ></dxo-search-panel>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-grouping [autoExpandAll]="false"></dxo-grouping>

  <dxi-column dataField="Product" [groupIndex]="0"></dxi-column>
  <dxi-column
    dataField="Amount"
    caption="Sale Amount"
    dataType="number"
    format="currency"
    alignment="right"
  ></dxi-column>
  <dxi-column dataField="SaleDate" dataType="date"></dxi-column>
  <dxi-column dataField="Region" dataType="string"></dxi-column>
  <dxi-column dataField="Sector" dataType="string"></dxi-column>
  <dxi-column dataField="Channel" dataType="string"></dxi-column>
  <dxi-column dataField="Customer" dataType="string" [width]="150"></dxi-column>
 -->

<dx-data-grid
  id="gridContainer"
  [dataSource]="dataSourceAsync"
  [allowColumnReordering]="true"
  [rowAlternationEnabled]="true"
  remoteOperations
  [showBorders]="true"
  (onContentReady)="contentReady($event)"
>
  <dxo-paging
    [enabled]="true"
    [pageSize]="5"
    (pageIndexChange)="onPageChange($event)"
  ></dxo-paging>
  <dxo-pager [allowedPageSizes]="[5]" [showNavigationButtons]="true" [showInfo]="true">
  </dxo-pager>
  <dxo-search-panel
    [visible]="true"
    [highlightCaseSensitive]="true"
  ></dxo-search-panel>

  <dxi-column dataField="title"></dxi-column>
  <dxi-column
    dataField="price"
    caption="Sale Amount"
    dataType="number"
    format="currency"
    alignment="right"
  ></dxi-column>
  <dxi-column dataField="description" dataType="string"></dxi-column>
</dx-data-grid>
